@model IEnumerable<ZenithWebSite.Models.ZenithModels.MyEvent>

@{
    ViewData["Title"] = "Events";
}

<h2>Events</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MyActivity.ActivityDesp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MyActivity.ActivityDesp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MyEventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MyEventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MyEventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
